<div class='church'>
  <div class="user-blur" style="background-image: url(<%= group.leader.thumbnail %>);"></div>
  <div class="church_info">
    <h3><%= link_to group.name, group %></h3>
    <h5><%= link_to group.leader.name, group.leader %></h5>
    <p class="church_info_stats"><span class='church_size'><%= group.latest(:sunday_att) %> <small>Sunday</small> </span></p>
    <p class="church_info_stats"><span class='members'><%= group.members.count %> <small>Members</small> </span></p>
    <p>
      <%= link_to(churches_path(group: group.name)) do %>
        <span><%= pluralize(group.churches.count, "Church") %></span>
      <% end %>
    </p>
    <div class="church_group_actions">
      <%= link_to(edit_church_group_path(group), class: "info")  do %>
        <i class="fa fa-pencil" aria-hidden="true"></i>
      <% end %>
      <%= link_to(group, method: :delete, data: { confirm: "Are you sure you want to delete #{group.name} Group?" }, class: 'danger') do %>
        <i class="fa fa-trash-o fa-inverse" aria-hidden="true"></i>
      <% end %>
    </div>
  </div>
  <%= link_to(group) do %>
    <%= image_tag(group.leader.thumbnail, :alt => group.name, class: "user-thumbnail") %>
  <% end %>
</div>