
<% provide(:title, 'Edit Church Group Information') %>
 <div class="container">    
        <div id="loginbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
            <div class="panel panel-info" >
                    <div class="panel-heading">
                        <div class="panel-title">Edit <%= "#{@church_group.name}" %> Church Group Information</div>
                      </div>
                      <div style="padding-top:30px" class="panel-body" >

<%= bootstrap_form_for(@church_group) do |f| %>
<%= render 'shared/error_messages', object: f.object %>
  <%= f.text_field :name, icon: "pencil", label: "Church Group Name:" %>
  <%= f.text_field :leader, icon: "user", label: "Church Group Overseer:" %>
  <%= f.select :region, [["London", "London"], ["Judea", "Judea"]], { icon: "check", label: "Select Region Church Group is Based In" }, { class: "selectpicker" }  %>
  <%= f.submit "Submit", data: { confirm: 'Are You Sure You Want To Amend?' }, class: "btn btn-primary" %>
<% end %>


                      </div>
                    </div>
                    </div>
                    </div>
