<% provide(:title, 'Create New church Group') %>

 <div class="container">    
        <div id="loginbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
            <div class="panel panel-info" >
                    <div class="panel-heading">
                        <div class="panel-title">Create New Church Group</div>
                      </div>
                      <div style="padding-top:30px" class="panel-body" >

<%= bootstrap_form_for(@church_group) do |f| %>
<%= render 'shared/error_messages', object: f.object %>
  <%= f.text_field :name, icon: "pencil", label: "Church Group Name:" %>
  <%= f.select :user_id, User.where.not(role: "Admin").collect {|a| [ a.name, a.id ] }, {icon: "user", label: "Current Leader" }, { class: "selectpicker" } %>
  <%= f.email_field :email, icon: "folder-open", label: "Church Group Email Address:" %>
  <%= f.select :region, [["London CC", "London CC"], ["London Main", "London Main"], ["Judea", "Judea"], ["Samaria", "Samaria"], ["Planters", "Planters"]], { icon: "check", label: "Select Region Church Group is Based In" }, { class: "selectpicker" }  %>
  <%= f.submit "Submit", data: { confirm: 'Are You Sure You Want To Create This New Church Group?' }, class: "btn btn-primary" %>
<% end %>


                      </div>
                    </div>
                    </div>
                    </div>
