
<% provide(:title, 'Create new Campus Church') %>

 <div class="container">    
        <div id="loginbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
            <div class="panel panel-info" >
                    <div class="panel-heading">
                        <div class="panel-title">Create New Campus Church</div>
                      </div>
                      <div style="padding-top:30px" class="panel-body" >

<%= bootstrap_form_for(@church) do |f| %>
<%= render 'shared/error_messages', object: f.object %>
  <%= f.text_field :name, icon: "pencil", label: "Campus Church Name:" %>
  <%= f.text_field :short_name, icon: "pencil", label: "Abbreviated Church Name:" %>
  <%= f.select :user_id, User.where.not(role: "Admin").collect {|a| [ a.name, a.id ] }, {icon: "home", label: "Current Elder/Pastor" }, { class: "selectpicker" } %>
  <%= f.email_field :email, icon: "folder-open", label: "Campus Church Email Address:" %>
  <%= f.text_field :city, icon: "globe", label: "City the Campus Church is Based In:" %>
  <%= f.text_field :address, icon: "pencil", label: "Campus Church Address:" %>
  <%= f.select :church_group_id, ChurchGroup.all.collect {|a| [ a.name, a.id ] }, {icon: "home", label: "Church Group" }, { class: "selectpicker" } %>
   <%= f.date_field :date_started, icon: "calendar", label: "Date Church Started", help: "Click dropdown arrow to select", class: "datepicker" %>
   <%= f.select :sunday_meeting, [["No", false], ["Yes", true]], { icon: "check", label: "Does this church meet on a Sunday?" }, { class: "selectpicker" }  %>
  <%= f.submit "Create", data: { confirm: 'Are You Sure Create this new Church' }, class: "btn btn-primary" %>
<% end %>


                      </div>
                    </div>
                    </div>
                    </div>

