<div id="changepasswordmodal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                  <h3 class="">Change Password</h3>
            </div>
            <div class="modal-body">
              <%= bootstrap_form_for @user, url: {action: "change_pws"}, method: :post)  do |p| %>
              <%= p.password_field :current_password, params[:current_password], hide_label: true, placeholder: "Enter your Old Password", class: "input-lg required" %>
              <%= p.password_field :password, hide_label: true, placeholder: "Enter a New Password", class: "input-lg required" %>
              <%= p.password_field :password_confirmation, hide_label: true, placeholder: "Confirm New Password", class: "input-lg required"%>

              <%= p.submit "Change Password", :class=> "btn btn-primary" %>
              <% end %>
            </div>
        </div>
    </div>
</div>