
<% provide(:title, 'Edit Campus Church Information') %>

 <div class="container">    
        <div id="loginbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
            <div class="panel panel-info" >
                    <div class="panel-heading">
                        <div class="panel-title">Update <%= @user.name %> Campus Church Information</div>
                      </div>
                      <div style="padding-top:30px" class="panel-body" >

<%= bootstrap_form_for(@user) do |f| %>
<%= render 'shared/error_messages', object: f.object %>
  <%= f.text_field :name, label: "Campus Church Name:" %>
  <%= f.text_field :elder, label: "Campus Church Current Elder:" %>
  <%= f.email_field :email, label: "Campus Church Email Address:" %>
  <%= f.text_field :city, label: "City the Campus Church is Based In:" %>
  <%= f.select :church_group_id, ChurchGroup.all.collect {|a| [ a.name, a.id ] }, { label: "Church Group" }, { class: "selectpicker" } %>
  <%= f.submit "Submit Amendment", data: { confirm: 'Are You Sure You Want To Submit?' }, class: "btn btn-primary" %>
<% end %>


                      </div>
                    </div>
                    </div>
                    </div>

