<% provide(:title, "#{@user.name} - Profile Page") %>

<!-- START -->
<div class="container">
  <div id='profile_bg'>
    <div class='profile_banner'>
      <%= image_tag(@user.thumbnail, :alt => @user.name, class: "user-profile") %>
      <button id='edit_profile_button' class='btn btn-default'><%= link_to "Edit My Profile", edit_my_profile_path(@user) %></button>
      <div class='user-profile-info'>
        <h2><%= @user.name %></h2>
      </div>
    </div>
    <div class='profile-nav'>
      <% if @user.is_cc_leader? %>
        <button class='btn btn-success'><%= link_to "Submit New Record", new_record_path %></button>
      <% end %>
    </div>
    <%= render 'my_groups', personal: true %>
    <%= render 'my_churches', personal: true %>
    <%= render 'my_latest_data', personal: true %>
    <% if current_user.is_leader? %>
      <%= render 'my_members', personal: true %>
    <% end %>
  </div>
  <!-- <div> -->
<!--     <div class="twPc-divUser">
      <div class="twPc-divName">
        <%= @user.name %>
      </div>
      <p><%= pluralize_without_count(@user.responsibilities.count, "Responsibility") %>:</p>
      <% @user.churches.each do |church| %>
        <span class="twpc-divElder">
          <%= church.name %><br>
        </span>
      <% end %>
      <% @user.church_groups.each do |cg| %>
        <span class="twpc-divElder">
          <%= cg.name %><br>
        </span>
      <% end %>
    </div>
  </div> -->
  <!-- <hr class="user_profil_line"/> -->
</div>