<% provide(:title, "Campus Churches") %>


                 <div class="table-responsive">     
                        <table class="table table-striped user-list">
                            <thead>
                                <tr>
                                <th><span><%= sortable "name", "Campus Church" %></span></th>
                              
                                 <th><span><%= sortable "church_group_id", "Group" %></span></th>
                                <th><span><%= sortable "city", "City" %></span></th>
                                <th><span> AVG Size</span></th>
                                <th><span> Latest Size</span></th>
                                 <th><span> Email</span></th>
                                <th class="text-center"><span> Data Status</span></th>
                                <th> &nbsp; </th>
                                </tr>
                            </thead>
                            <tbody>
                                <% @users.each do |t| %>
                               
                                <tr>
                                  
                                    <td>

                                        <%= gravatar_for(t) %>
                                         
                                        <%= link_to t.name, t, class: "user-link" %>
                                        <span class="user-subhead"><%= t.elder%></span>
                                    </td>
                                   
                                    <td><%= link_to t.church_group.name, church_group_path(t.church_group), class: "table-text"%></td>
                                    <td class="table-text"><%= t.city.nil? ? "Blank": t.city %></td>
                                    <td class="table-text text-center"><strong><%= t.ytd_avg(:sunday_att) %></strong></td>
                                    <td class="table-text text-center"><strong><%= t.records.order('day DESC').first.sunday_att %></strong></td>
                                    <td><%= link_to "#{t.elder}", "mailto:#{t.email}" %></td>
                                    <td class="text-center">
                                         <% csclass= t.records.where('day > ?', Date.parse(Date.today.strftime("%Y0101"))).count < (Date.today+1).cweek ? "label label-danger" : "label label-success" %>
                                        <span class="<%="#{csclass}"%>"><%= t.missing_data%></span>
                                    </td>
                                  
                                    <td>
                                        <%= link_to user_path(t), class: "table-link success" do %>
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                            </span>
                                       <% end %>
                                        <%= link_to edit_user_path(t), class: "table-link" do %>
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                            </span>
                                        <% end %>
                                      
                                            <span class="fa-stack">
                                                
                                                <%= link_to url_for(t), method: :delete, data: { confirm: 'Are you sure you want to delete this Church and all thier records?' }, class: "table-link danger", remote: false do %>
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                            </span>
                                        <% end %>
                                    </td>
                                </tr>
                               <% end %>
                        
                        </table>
                    </div>
                         <%= will_paginate @user, renderer: BootstrapPagination::Rails%>
                  

  




