<% provide(:title, "Campus Churches") %>
<div class="row">
  <% if @users.count == 0 %>
      <div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title"> No Results Found</h2>
  </div>
<% else %>
<% @users.each do |t| %>
<div class="col-xs-6 col-md-4">
  	<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title"><%= link_to t.name, "#" %></h2>
  </div>
<ul class="list-group">
    <li class="list-group-item"><b>Elder:	</b><%= t.elder %> </li>
    <li class="list-group-item"><b>Church Group: </b><%= t.church_group.name %></li>
    <li class="list-group-item"><b>Region: </b><%= t.church_group.region %></li>
    <li>
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-xs"><%= link_to "EDIT", '#' %> </button>
  </div>

  <div class="btn-group" role="group">
    <button type="button" class="btn btn-xs"><%= link_to "DELETE", '#' %></button>
  </div>
</div>

</li>
  </ul>
</div>
</div>
<%end%>
 <% end %>
 </div>
 
  




