<% provide(:title, "Campus Churches") %>
<div class="row">
  <% if @users.count == 0 %>
      <div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title"> No Results Found</h2>
  </div>
<% else %>
<% @users.each do |t| %>
<div class="col-xs-6 col-md-4">
  	<div class="panel panel-default">
  <div class="panel-heading">
    <%= link_to(t) do %>
    <h2 class="panel-title"><%= t.name %></h2>
    <%end%>
  </div>
<ul class="list-group">
    <li class="list-group-item", align= "left"><b>Elder:	</b><%= t.elder %> </li>
    <li class="list-group-item", align= "left"><b>Church Group: </b><%= t.church_group.name %></li>
    <li class="list-group-item", align= "left"><b>Region: </b><%= t.church_group.region %></li>
    <li> <%= link_to "EDIT", '#', class: "list-group-item list-group-item-warning" %> </li>
    <li><%= link_to "DELETE", "#", data: {confirm: "Are you sure you want to Delete #{t.name}?"}, class: "list-group-item list-group-item-danger" %>

</li>
  </ul>
</div>
</div>
<%end%>
 <% end %>
 </div>
 
  




