
<% provide(:title, 'Create New Campus Church Information') %>

 <div class="container">    
        <div id="loginbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
            <div class="panel panel-info" >
                    <div class="panel-heading">
                        <div class="panel-title">Create New User</div>
                      </div>
                      <div style="padding-top:30px" class="panel-body" >

<%= bootstrap_form_for(@user) do |f| %>
<%= render 'shared/error_messages', object: f.object %>
  <%= f.text_field :name, icon: "pencil", label: "User's full name:" %>
  <%= f.email_field :email, icon: "folder-open", label: "User's Email Address:" %>
  <%= f.select :role, [["Admin", "Admin"], ["Overseer", "Overseer"], ["Elder", "Elder"], ["Pastor", "Pastor"]], { icon: "pencil", label: "User's main role:" }, { class: "selectpicker" }  %>
   <%= f.select :admin, [["No", false], ["Yes", true]], { icon: "check", label: "Is this setup for an admin user?" }, { class: "selectpicker" }  %>
    <%= f.password_field :password, icon: "user", label: "Password:" %>
  <%= f.password_field :password_confirmation, icon: "user", label: "Confirm Password:" %>
  <%= f.submit "Submit", data: { confirm: 'Are You Sure You Want To Create This New User?' }, class: "btn btn-primary" %>
<% end %>


                      </div>
                    </div>
                    </div>
                    </div>

