<% provide(:title, "#{@user.name} - Profile Page") %>

<!-- START -->
<div class="container">
  <div>
    <%= gravatar_for @user, size: 200 %>
    <div class="twPc-divUser">
      <div class="twPc-divName">
        <%= @user.name %>
      </div>
      <p><%= pluralize_without_count(@user.responsibilities.count, "Responsibility") %>:</p>
      <% @user.churches.each do |church| %>
        <span class="twpc-divElder">
          <%= church.name %><br>
        </span>
      <% end %>
      <% @user.church_groups.each do |cg| %>
        <span class="twpc-divElder">
          <%= cg.name %><br>
        </span>
      <% end %>
    </div>
  </div>
  <hr class="user_profil_line"/>
</div>