<% provide(:title, @user.name) %>
<!--
<div class="container">
 <div class="row">
  <aside class="col-md-9">
    <section class="user_info">
      <h1 style="font-size: 6vmin">
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1><br>
      <p style="font-size: 4vmin; font-style: italic;"> <%= @user.elder %>
    </section>
  </aside>
</div>





</div> --><!--container -->  

<!-- START -->
<div class="container">
<div class="twPc-div">
    <a class="twPc-bg twPc-block"></a>

    <div>
     

        <a title="" href="#" class="twPc-avatarLink">
            <%= gravatar_for @user, size: 200 %>
        <!--    <img alt="Mert Salih Kaplan" src="https://pbs.twimg.com/profile_images/378800000352678934/34f9e192635975bf42e534434e2b6273_bigger.jpeg" class="twPc-avatarImg">  -->
        </a>

        <div class="twPc-divUser">
            <div class="twPc-divName">
                <%= @user.name %>
            </div>
            <span class="twpc-divElder">
               <%= @user.elder %>
            </span>
        </div>

        <div class="twPc-divStats">
            <ul class="twPc-Arrange">
                <li class="twPc-ArrangeSizeFit">
                   
                        <span class="twPc-StatLabel twPc-block">Average Sunday</span>
                        <span class="twPc-StatValue"><%= @user.ytd_avg(:sunday_att) %></span>
                    
                </li>
                <li class="twPc-ArrangeSizeFit">
                  
                        <span class="twPc-StatLabel twPc-block">Max Sunday</span>
                        <span class="twPc-StatValue"><%= @user.records.maximum(:sunday_att) %></span>
                  
                </li>
                <li class="twPc-ArrangeSizeFit">
                   
                        <span class="twPc-StatLabel twPc-block">Latest Sunday</span>
                        <span class="twPc-StatValue"><%= @user.latest(:sunday_att) %></span>
                  
                </li>
            </ul>
        </div>
    </div>
</div>

</div>