
<% provide(:title, 'Edit Data Record') %>


   <div class="container">    
        <div id="loginbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
            <div class="panel panel-info" >
                    <div class="panel-heading">
                        <div class="panel-title">Edit <%= @record.day.strftime("%d-%b-%y") %> Record for <%= @record.church.name %></div>
                      </div>
                      <div style="padding-top:30px" class="panel-body" >

<%= bootstrap_form_for(@record) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <% if current_user.admin %>
    <%= f.select :church_id, Church.all.collect {|a| [ a.name, a.id ] }, { label: "Campus Church" }, { class: "selectpicker" } %>
    <%= f.select :user_id, User.where(admin: false).collect {|a| [ a.name, a.id ] }, {label: "Select Elder" }, { class: "selectpicker" } %>
  <% else %>
    <%= f.select :church_id, current_user.churches.collect {|a| [ a.name, a.id ] }, {label: "Campus Church" }, { class: "selectpicker" } %>
  <% end %>
  <%= f.date_field :day, label: "Date of Sunday Service", help: "Click dropdown arrow to select", class: 'datepicker' %>
  <%= f.number_field :sunday_att, label: "Sunday Attendance:" %>
  <%= f.number_field :weekday_att, label: "Weekday Attendance:", help: "For meeting a few days prior to the Sunday above" %>
  <%= f.number_field :new_converts, label: "Number of New Converts in Sunday service:" %>
  <%= f.number_field :first_timers, label: "Number of First Timers in Sunday service:" %>
  <%= f.number_field :nbs, label: "How many people STARTED New Believers School this Sunday?" %>
  <%= f.number_field :nbs_finish, label: "How many people FINISHED New Believers School this Sunday?" %>
   <%= f.number_field :baptised, label: "Number of people who were baptised this Sunday:" %>
   <%= f.number_field :fnb, label: "Number of people who gave their First and Best this Sunday:" %>
  <%= f.select :visitation, [["No", false], ["Yes", true]], { label: "Did you go on visitation in the past week?" }, { class: "selectpicker" }  %>
  <%= f.text_field :message_sunday,  label: "Sunday Message Title:" %>
  <%= f.text_field :preacher_sunday, label: "Who Preached in Sunday Service?" %>
  <%= f.text_field :message_weekday, label: "Weekday Message Title:" %>
  <%= f.text_field :preacher_weekday, label: "Who Preached in Weekday Service?" %>
  <%= f.submit "Amend Data", data: { confirm: 'Are You Sure You Want To Submit?' }, class: "btn btn-primary" %>
<% end %>

                      </div>
                    </div>
                    </div>
                    </div>