<% provide(:title, 'Data Records') %>

<div class="container">
<h1 style="padding-left: 0px"><span class="label label-default">All Records</span></h1>
<% if current_user.admin %>
<p>
  Data Download:
  <%= link_to "To Excel", records_path(format: "csv") %> |
</p>
<% end %>
<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">

 <div class="table-responsive">
<table class="table table-striped">
    <thead>
        <tr>
            <th><span><%= sortable "day", "Date" %></span></th>
            <% if current_user.admin %>
            <th><span><%= sortable "user_id", "Church" %></span></th>
            <% end %>
            <th><span><%= sortable "sunday_att", "Sunday" %></span></th>
            <th><span><%= sortable "weekday_att", "Weekday" %></span></th>               
            <th><span><%= sortable "first_timers", "First Timers" %></span></th>
            <th><span><%= sortable "new_converts", "New Converts" %></span></th>
            <th><span><%= sortable "fnb", "Tithe" %></span></th>
            <th ><span><%= sortable "nbs", "Start NBS" %></span></th>
            <th ><span><%= sortable "nbs_finish", "Finish NBS" %></span></th>
        </tr>
    </thead>

      <tbody>
        <% @records.each do |t| %>
        <tr>
            <td><span><%= link_to t.day.strftime('%d-%b-%y'), record_path(t) %></span></td>
            <% if current_user.admin %>
            <td><span><%= link_to t.church.name, church_path(t.church) %></span></td>
            <% end %>
            <td><span><%= t.sunday_att %></span></td>
            <td><span><%= t.weekday_att %></span></td>               
            <td><span><%= t.first_timers %></span></td>
            <td><span><%= t.new_converts %></span></td>
            <td><span><%= t.fnb %></span></td>
            <td ><span><%= t.nbs %></span></td>
            <td ><span><%= t.nbs_finish %></span></td>
             <% if current_user.admin %>
             <td>
                                  <%= link_to edit_record_path(t), class: "btn btn-default", remote: false do %>
<i class="fa fa-cog"></i>Edit</a>
<% end %> 
                                    </td>
        </tr>
        <% end %>
        <% end %>
    </tbody>
    
</table>
</div>
<%= will_paginate @records, renderer: BootstrapPagination::Rails%>

</div>
