<div class='section_heading'>
  <h3> FLC UK Overview </h3>
</div>
<div id="flc_overview">
  <ul id="summary_list">
    <li>
      <%= fa_icon "calendar" %>
      <span>
        <small>
          Date Started - 2013
        </small>
      </span>
    </li>
    <li>
      <%= fa_icon "building" %>
      <span>
        <%= number_with_precision(23, :precision => 0, :delimiter => ',') %>
        <small>
          Branches
        </small>
      </span>
    </li>
    <li>
      <%= fa_icon "users" %>
      <span>
        <%= number_with_precision(822, :precision => 0, :delimiter => ',') %>
        <small>
          Average Weekly Attendance
        </small>
      </span>
    </li>
    <li>
      <%= fa_icon "user" %>
      <span>
        <%= number_with_precision(13, :precision => 0, :delimiter => ',') %>
        <small>
          Pastors
        </small>
      </span>
    </li>
    <li>
      <%= fa_icon "user" %>
      <span>
        <%= number_with_precision(34, :precision => 0, :delimiter => ',') %>
        <small>
          Elders
        </small>
      </span>
    </li>
    <li>
      <%= fa_icon "leaf" %>
      <span>
        <%= number_with_precision(3, :precision => 0, :delimiter => ',') %>
        <small>
          Church Planters
        </small>
      </span>
    </li>
    <li>
      <%= fa_icon "object-group" %>
      <span>
        <%= number_with_precision(13, :precision => 0, :delimiter => ',') %>
        <small>
          Church Groups
        </small>
      </span>
    </li>
    <li>
      <%= fa_icon "university" %>
      <span>
        <%= number_with_precision(42, :precision => 0, :delimiter => ',') %>
        <small>
          Campus Churches
        </small>
      </span>
    </li>
  </ul>
</div>