<div class='section_heading'>
  <h3> FLC UK Overview </h3>
</div>
  <div>
  <div id='infoDate'>
    <span>
      <%= fa_icon "calendar" %>
      <small>
        Date Started - {{infoStarted || "2013"}}
      </small>
    </span>
  </div>
  <div id="flc_overview">
    <ul id="summary_list">
      <li>
        <%= fa_icon "building" %>
        <span class='infoStat' ng-bind='infoBranches'>
        </span>
        <small>
          Branches
        </small>
      </li>
      <li>
        <%= fa_icon "users" %>
        <span class='infoStat' ng-bind='infoAVG'>
        </span>
        <small>
          Average Weekly Attendance
        </small>
      </li>
      <li>
        <%= fa_icon "user" %>
          <span class='infoStat' ng-bind='infoPastors'>
          </span>
          <small>
            Pastors
          </small>
      </li>
      <li>
        <%= fa_icon "user" %>
        <span class='infoStat' ng-bind='infoElders'>
        </span>
        <small>
          Elders
        </small>
      </li>
      <li>
        <%= fa_icon "leaf" %>
        <span class='infoStat' ng-bind='infoChurchPlanters'>
        </span>
        <small>
          Church Planters
        </small>
      </li>
      <li>
        <%= fa_icon "object-group" %>
        <span class='infoStat' ng-bind='infoChurchGroups'>
        </span>
        <small>
          Church Groups
        </small>
      </li>
      <li>
        <%= fa_icon "university" %>
        <span class='infoStat' ng-bind='infoChurches'>
        </span>
        <small>
          Campus Churches
        </small>
      </li>
    </ul>
  </div>
</div>