<div ng-show="loading" class='loading' ng-init="lastTwelve = <%= @times.reverse[0..10] + [[Date.today.strftime("%b%Y"), Date.today.strftime("%b%Y")]] %>">
  <i class="fa fa-spinner fa-spin fa-3x" aria-hidden="true" ng-show='loading'></i>
  ... Loading
</div>
<div ng-hide='loading' class="section_heading" >
  <h3> Quick Stats </h3>
</div>
<div ng-hide='loading' class="quick_stats">
  <section class='card_actions' ng-hide="loading">
    <button ng-click="filterToggle()" class="filterToggle">Show / Hide Filters</button>
    <ul>
      <li ng-hide='filterHide'>
        <select ng-model="main_choice_by">
            <option value="">Select Grouping</option>
            <option value="Region">Region</option>
            <option value="Church Group">Church Group</option>
            <option value="City">City</option>
            <option value="Church">Church</option>
        </select>
      </li>
      <li ng-hide="filterHide  || main_choice_by !== 'Region'">
        <select ng-change="reloadData()" ng-model="search">
          <% @regions.each do |region| %>
            <option value="region:<%= region %>"><%= region %></option>
          <% end %>
          <option value=''>Select Region</option>
        </select>
      </li>
      <li ng-hide="filterHide  || main_choice_by !== 'Church Group'">
        <select ng-change="reloadData()" ng-model="search">
          <% @church_groups.each do |group| %>
            <option value="church_group:<%= group.name %>"><%= group.leader.name.split(" ")[0] + "- " + group.name %></option>
          <% end %>
          <option value=''>Select Church Group</option>
        </select>
      </li>
      <li ng-hide="filterHide  || main_choice_by !== 'City'">
        <select ng-change="reloadData()" ng-model="search">
          <% @cities.each do |city| %>
            <option value="city:<%= city %>"><%= city %></option>
          <% end %>
          <option value=''>Select City</option>
        </select>
      </li>
      <li ng-hide="filterHide  || main_choice_by !== 'Church'">
        <select ng-change="reloadData()" ng-model="search">
          <% @churches.each do |church| %>
            <option value="church:<%= church %>"><%= church %></option>
          <% end %>
          <option value=''>Select Church</option>
        </select>
      </li>
      <li ng-hide='filterHide'><button ng-click="search = ''; reloadData()"> Reset Data </button></li>
    </ul>
  </section>
  <div>
    <div ng-repeat="card in cards">
      <%= render "info_box" %>
    </div>
  </div>
</div>
<div id='overview_page'>
  <%= render 'overview' %>
</div>