<div class="section_heading">
  <h3> Past Year Trends </h3>
</div>
<select class='chart_filter' ng-model="trendChartAttr" ng-change="showTrendChart()">
    <option value="sunday" disabled>Select Attribute to View</option>
    <option value="sunday">Sunday Attendance</option>
    <option value="ft">First Timers</option>
    <option value="newConv">New Converts</option>
    <option value="nbs">Started NB School</option>
    <option value="fnbs">Finished NB School</option>
    <option value="bap">Baptised</option>
    <option value="tithe">First &amp; Best</option>
</select>
<label for='select_region'>Select Grouping</label>
<select class='chart_filter' name='select_region' ng-model="trendGrouping" ng-change="showTrendChart()">
    <option value="" disabled>Select Grouping</option>
    <option value="">Show All UK</option>
    <option value="totals_by_region">Region</option>
    <option value="totals_by_group">Church Group</option>
    <option value="totals_by_city">City</option>
    <option value="totals_by_church">Churches (Sunday Meeting)</option>
    <option value="totals_by_campus">Campuses (Non-Sunday Meeting)</option>
</select>
<select class='chart_filter' ng-change="showTrendChart()" ng-model="trendTarget" ng-hide="trendGrouping !== 'totals_by_church'">
  <% @sunday_churches.each do |church| %>
    <option value="<%= church %>"><%= church %></option>
  <% end %>
  <option value='' disabled>Select Church</option>
</select>
<select class='chart_filter' ng-change="showTrendChart()" ng-model="trendTarget" ng-hide="trendGrouping !== 'totals_by_campus'">
  <% @campuses.each do |church| %>
    <option value="<%= church %>"><%= church %></option>
  <% end %>
  <option value='' disabled>Select Campus</option>
</select>
<select class='chart_filter' ng-change="showTrendChart()" ng-model="trendTarget" ng-hide="trendGrouping !== 'totals_by_region'">
  <% @regions.each do |church| %>
    <option value="<%= church %>"><%= church %></option>
  <% end %>
  <option value='' disabled>Select Region</option>
</select>
<select class='chart_filter' ng-change="showTrendChart()" ng-model="trendTarget" ng-hide="trendGrouping !== 'totals_by_city'">
  <% @cities.each do |city| %>
    <option value="<%= city %>"><%= city %></option>
  <% end %>
  <option value='' disabled>Select City</option>
</select>
<select class='chart_filter' ng-change="showTrendChart()" ng-model="trendTarget" ng-hide="trendGrouping !== 'totals_by_group'">
  <% @church_groups.each do |group| %>
    <option value="<%= "#{group.leader.name.split(" ")[0]} - #{group.name}" %>"><%= "#{group.leader.name.split(" ")[0]} - #{group.name}" %></option>
  <% end %>
  <option value='' disabled>Select Church Group</option>
</select>
<label for='add_attribute'>Add Another Attribute for Comparison:</label>
<select ng-change="addTrendAttribute()" class='chart_filter' ng-model="addedAttr">
  <option value="" disabled>Add Attribute to Compare</option>
  <option value="sunday">Sunday Attendance</option>
  <option value="ft">First Timers</option>
  <option value="newConv">New Converts</option>
  <option value="nbs">Started NB School</option>
  <option value="fnbs">Finished NB School</option>
  <option value="bap">Baptised</option>
  <option value="tithe">First &amp; Best</option>
</select>
<button ng-click="resetTrendChart()" id="resetTrendChart">Reset Chart</button>
<div ng-show="detailLoading" class='loading'>
  <i class="fa fa-spinner fa-spin fa-2x" aria-hidden="true" ng-show='detailLoading'></i>
  ... Fetching Chart Data
</div>
<div id="trendChartContainer" style="height: 400px; margin: 50px 0 100px 0"></div>
