<% provide(:title, 'Data_Formatted') %>

<div class="container">
<div class="table-responsive">
<table border="1">
	
	<thead>
		<tr>
			<th style="background-color: #ffcc00"> <%= "    " %></th>
			<% @months.each do |t| %>
			<th colspan="9" style="text-align:center; background-color: #ffcc00"><%= t %></th>
			<th><%= "    " %></th>
			<% end %>
		</tr>
		<% @users.each do |u| %>
		<tr>
			<th style="background-color: #ffcc00"><%= u.name %> </th>
			<% @months.each do |t| %>
			<th colspan="9" style="text-align:center; background-color: #ffcc00">SUNDAY SERVICE ATTENDANCE</th>
			<th><%= "    " %></th>
			<% end %>
		</tr>
		<tr>
			<th style="background-color: #ffcc00"> </th>
			<% @months.each do |x| %>
			<% @cats.each do |t| %>
			<th style="text-align:center; background-color: #cccccc"><%= t %></th>
			<% end %>
			<th><%= "    " %></th>
			<% end %>
		</tr>
	</thead>

	<tbody>
		<% @weeks.each do |w| %>
		<tr> 
			<th> <%= "WK #{w}" %></th>
			<% @months.each do |x| %>
			<% if u.records.find_by(day: sun_in_month(x)[w-1]) %>
			<td> <%= u.records.find_by(day: sun_in_month(x)[w-1]).sunday_att|| " " %> </td>
			<td> 0 </td>
			<td> 0 </td>
				<% else %>
				<td> <%= " " %> </td>
			<td> <%= " " %> </td>
			<td> <%= " " %> </td>
			<% end %>

			<% if thu_in_month(x)[w-1] %>
			<% if u.records.find_by(day: (thu_in_month(x)[w-1])+3) %>
			<td> <%= u.records.find_by(day: (thu_in_month(x)[w-1])+3).weekday_att|| " " %> </td>
			<% else %>
			<td> <%= " " %> </td>
			<% end %>
				<% else %>
				<td> <%= " " %> </td>
				<% end %>

			<% if u.records.find_by(day: sun_in_month(x)[w-1]) %>
			<td> 0 </td>
			<td> <%= u.records.find_by(day: sun_in_month(x)[w-1]).new_converts|| " " %> </td>
			<td> <%= u.records.find_by(day: sun_in_month(x)[w-1]).first_timers|| " " %> </td>
			<td> <%= u.records.find_by(day: sun_in_month(x)[w-1]).fnb|| " " %> </td>
			<td> <%= " " %> </td>
			<td> <%= " " %> </td>
			
			<% else %>
			<td> <%= " " %> </td>
			<td> <%= " " %> </td>
			<td> <%= " " %> </td>
			<td> <%= " " %> </td>
			<td> <%= " " %> </td>
			<td> <%= " " %> </td>
			<% end %>
			<% end %>
		</tr>
		<% end %>
		<tr> 
			<th> AVE</th>
			<% @months.each do |x| %>
					<td> <%= " " %> </td>
			<td> <%= " " %> </td>
			<td> <%= " " %> </td>
			<td> <%= " " %> </td>
			<td> <%= " " %> </td>
			<td> <%= " " %> </td>
			<td> <%= " " %> </td>
			<td> <%= " " %> </td>
			<td> <%= " " %> </td>
			<td> <%= " " %> </td>
			<% end %>
		</tr>
		<tr> </tr>
		<tr> </tr>
<% end %>
	</tbody>

</table>
</div>

<!--- Messages Preached -->
<div class="table-responsive">
<table border="1">
	
	<thead>
		<tr>
			<th style="background-color: #ffcc00"> <%= "Branch" %></th>
			<th colspan="9" style="text-align:center; background-color: #ffcc00"><%= "Month" %></th>
			<th><%= "Week no." %></th>
			<th><%= "Sunday Preacher" %></th>
			<th><%= "Sunday Message" %></th>
				<th><%= "Sunday 2nd Preacher" %></th>
			<th><%= "Sunday 2nd Message" %></th>
				<th><%= "Sunday 3rd Preacher" %></th>
			<th><%= "Sunday 3rd Message" %></th>
						<th><%= "Weekday Preacher" %></th>
			<th><%= "Weekday Message" %></th>
		</tr>
	</thead>

	<tbody>
		<% @months.each do |x| %>
		<% @users.each do |t| %>
		<% @weeks.each do |w| %>
		<tr> 
			<th> <%= t.name %></th>
			<th> <%= x %></th>
			<th> <%= w %></th>
			<% if t.records.find_by(day: sun_in_month(x)[w-1]) %>
			<td> <%= t.records.find_by(day: sun_in_month(x)[w-1]).preacher_sunday|| " " %> </td>
			<td> <%= t.records.find_by(day: sun_in_month(x)[w-1]).message_sunday|| " " %> </td>
			<% else %>
				<td> <%= " " %> </td>
				<td> <%= " " %> </td>
				<% end %>
			<td> <%= " " %> </td>
				<td> <%= " " %> </td>
				<td> <%= " " %> </td>
				<td> <%= " " %> </td>
				
				<% if thu_in_month(x)[w-1] %>
			<% if t.records.find_by(day: (thu_in_month(x)[w-1])+3) %>
				<td> <%= t.records.find_by(day: (thu_in_month(x)[w-1])+3).preacher_weekday|| " " %> </td>
			<td> <%= t.records.find_by(day: (thu_in_month(x)[w-1])+3).message_weekday|| " " %> </td>
			<% else %>
				<td> <%= " " %> </td>
				<td> <%= " " %> </td>
				<% end %>
				<% else %>
					<td> <%= " " %> </td>
				<td> <%= " " %> </td>
				<% end %>

			<% end %>
			<% end %>
		<% end %>

	</tbody>

</table>
</div>
</div>