<% if current_user %>
<div class="jumbotro">

  <p>Welcome to the FLC Data App! </p>
  <% if !current_user.admin %> 
  <p>All data should now have been submitted for <b><%= @date %></b></p>
   <p><%= link_to "View Data", records_path, class: "btn btn-primary btn-lg" %></p>  
</div>
   <% else %>
  <p><%= link_to "View Latest Data", last_sunday_path, class: "btn btn-primary btn-xs" %></p>
<div class="row">
  <div class="col-md-12" style="text-align: center">
<h3 class="page_heading">	
	
	<span class="label label-primary">Latest Attendance By Church Group</span>
	</h3>
  </div>
</div>
</div>
<div class="row" style="padding-left: 20px; padding-top: 0px">
  <div class="col-xs-6">
    <%= pie_chart @array.except("London Main"), library: {backgroundColor: "#F0F0F0"} %>
  </div>
    <div class="col-xs-6">
    <%= column_chart @array, library: {backgroundColor: "#F0F0F0"} %>
  </div>
   
</div>

<% unless @users.empty? %>

      <table class="table table-striped user-list" style="padding-top: 10px">
      <thead>
         <tr class="danger">
        <td class="danger"><span>  <%= link_to "Missing #{@date} Data For #{pluralize(@users.count, "Church")}", show_nots_path, style: "color: black; font-size: 0.8em"  %></span></td>
         </thead>
        </table>  

  <% end %>
<% end %>



                            



  <%end%>


