<% provide(:title, 'Home') %>
<% if current_user && !current_user.admin %>
<div class="jumbotron" style="text-align: center">

  <p>Welcome <%= current_user.elder.split[0] %>! </p>

  <p>All data should now have been submitted for <b><%= @date %></b></p>
   <p><%= link_to "View Data", records_path, class: "btn btn-primary btn-xs" %></p>  
</div>
   

   <% elsif current_user && current_user.admin %>

  <div class="container">

      <div class="btn-group btn-group-justified" role="group" aria-label="...">
   <div class="btn-group" role="group">
  <%= link_to "View Latest Data", last_sunday_charts_path, class: "btn btn-primary", style: "font-size: 2vmin" %>
</div>
   <div class="btn-group" role="group">
  <%= link_to "Trend Analysis", time_series_charts_path, class: "btn btn-primary", style: "font-size: 2vmin"  %>
</div>
   <div class="btn-group" role="group">
  <%= link_to "View Campus Churches", users_path, class: "btn btn-primary", style: "font-size: 2vmin" %>
  </div>

</div>
   <div class="row text-center">
            <div class="col-md-12">
       

        
            </div>
    </div>        

              <table class="table table-striped user-list">
 <thead>
                                <tr>
                                <th ><span class="list-group-item list-group-item-info" style="text-align: center"><i class="glyphicon glyphicon-signal"></i>&nbsp;&nbsp;Key Summary</span></th>
                             
                                </tr>
    </thead>
 </table>


  <div class="row db-padding-btm db-attached">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" style="width: 25%">
                <div class="db-wrapper">
                    <div class="db-pricing-eleven db-bk-color-one">
                        <div class="price">
                                <%= ChurchGroup.total_month_avg((Date.today << 2).strftime('%b'), :sunday_att) %>
                                <small>Total FLC UK Average Sunday Attendance For</small>
                        </div>
                        <div class="type">
                            <%= (Date.today << 2).strftime('%b-%y')%>
                        </div>
                        <ul>
							<li><i class="glyphicon glyphicon-tree-deciduous"></i>&nbsp;<span style="font-size: 4.5vmin; font-weight: Bold"><%= ChurchGroup.total_month((Date.today << 2).strftime('%B'), :new_converts) %></span><p style="font-size: 2.5vmin"> Total New Converts </p></li>
                            <li><i class="glyphicon glyphicon-user"></i>&nbsp;<span style="font-size: 4.5vmin; font-weight: Bold"><%= ChurchGroup.total_month((Date.today << 2).strftime('%B'), :first_timers) %></span><p style="font-size: 2.5vmin"> Total First Timers  </p></li>
                            <li><i class="glyphicon glyphicon-home"></i>&nbsp;<span style="font-size: 4.5vmin; font-weight: Bold"><%= ChurchGroup.total_month_cc((Date.today << 2).strftime('%B'), :nbs) %></span><p style="font-size: 2.5vmin"> Began New Believers School  </p></li>
                            <li><i class="glyphicon glyphicon-education"></i>&nbsp;<span style="font-size: 4.5vmin; font-weight: Bold"><%= ChurchGroup.total_month_cc((Date.today << 2).strftime('%B'), :nbs_finish) %></span><p style="font-size: 2.5vmin"> Finished New Believers School  </p></li>
                             <li><i class="glyphicon glyphicon-briefcase"></i>&nbsp;<span style="font-size: 4.5vmin; font-weight: Bold"><%= ChurchGroup.total_month((Date.today << 2).strftime('%B'), :fnb) %></span><p style="font-size: 2.5vmin"> Total First and Best </p></li>
                        </ul>
                        <div class="pricing-footer">
                              <%= link_to "Details", "#my-modal", :class => "btn db-button-color-square btn-lg", style: "font-size:2vmin", "data-toggle" => "modal" %>
             <!-- Modal start -->               
                            <div class="modal fade bs-example-modal-lg" id="my-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" id= 'pie_c'>
    <div class="modal-content" style="width:600px">
    
<div class="container">

  <div class="col-xs-6" style="color:#000000; width: 100%; text-align: center">
    <%= pie_chart ChurchGroup.where('region = ? OR region = ?', "London Main", "Judea").make_hash_month_avg((Date.today << 2).strftime('%B'), :sunday_att), library: {chart: {width: 350}, legend: {layout: 'vertical', align: 'left', verticalAlign: 'bottom', itemStyle: {fontSize: "10px"}}, title: {text: "Average #{(Date.today << 2).strftime('%b-%y')} Sunday"}} %>
  </div>
  
    <div class="col-xs-6" id="pie_c">
    <%= pie_chart ChurchGroup.where('region = ? OR region = ?', "London Main", "Judea").make_hash_month_sum((Date.today << 2).strftime('%B'), :new_converts), library: {chart: {width: 350}, legend: {layout: 'vertical', align: 'right', verticalAlign: 'bottom', itemStyle: {fontSize: "10px"}}, title: {text: "Average #{(Date.today << 2).strftime('%b-%y')} New Converts"}}%>
  </div>
  
    <div class="col-xs-12" id="pie_c">
    <%= pie_chart ChurchGroup.where('region = ? OR region = ?', "London Main", "Judea").make_hash_month_sum((Date.today << 2).strftime('%B'), :first_timers), library: {chart: {width: 350}, legend: {layout: 'vertical', align: 'left', verticalAlign: 'bottom', itemStyle: {fontSize: "10px"}}, title: {text: "Average #{(Date.today << 2).strftime('%b-%y')} First Timers"}} %>
  </div>
  
      <div class="col-xs-12" id="pie_c">
    <%= pie_chart ChurchGroup.where('region = ? OR region = ?', "London", "Judea").make_hash_month_sum((Date.today << 2).strftime('%B'), :nbs), library: {chart: {width: 350}, legend: {layout: 'vertical', align: 'right', verticalAlign: 'bottom', itemStyle: {fontSize: "10px"}}, title: {text: "Average #{(Date.today << 2).strftime('%b-%y')} Started NBS"}}%>
  </div>
      <div class="col-xs-12" id="pie_c">
    <%= pie_chart ChurchGroup.where('region = ? OR region = ?', "London", "Judea").make_hash_month_sum((Date.today << 2).strftime('%B'), :nbs_finish), library: {chart: {width: 350}, legend: {layout: 'vertical', align: 'left', verticalAlign: 'bottom', itemStyle: {fontSize: "10px"}}, title: {text: "Average #{(Date.today << 2).strftime('%b-%y')} Finished NBS"}} %>
  </div>
      <div class="col-xs-12" id="pie_c">
    <%= pie_chart ChurchGroup.where('region = ? OR region = ?', "London Main", "Judea").make_hash_month_sum((Date.today << 2).strftime('%B'), :fnb), library: {chart: {width: 350}, legend: {layout: 'vertical', align: 'right', verticalAlign: 'bottom', itemStyle: {fontSize: "10px"}}, title: {text: "Average #{(Date.today << 2).strftime('%b-%y')} First & Best"}}%>
  </div>
   <div class="col-xs-6">
   <%= link_to "Exit", demo_path, class: "btn btn-primary btn-xs" %>
 </div>
</div>

  

    </div>
  </div>
</div>
<!-- Modal end -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" style="width: 25%">
                  <div class="db-wrapper">
                <div class="db-pricing-eleven db-bk-color-two popular">
                    <div class="price">
                        <%= ChurchGroup.total_month_avg((Date.today << 1).strftime('%b'), :sunday_att) %>
                                <small>Total FLC UK Average Sunday Attendance For</small>
                    </div>
                    <div class="type">
                        <%= (Date.today << 1).strftime('%b-%y')%>
                    </div>
                    <ul>

                     <li><i class="glyphicon glyphicon-tree-deciduous"></i>&nbsp;<span style="font-size: 4.5vmin; font-weight: Bold"><%= ChurchGroup.total_month((Date.today << 1).strftime('%B'), :new_converts) %></span> <p style="font-size: 2.5vmin">Total New Converts </p></li>
                            <li><i class="glyphicon glyphicon-user"></i>&nbsp;<span style="font-size: 4.5vmin; font-weight: Bold"><%= ChurchGroup.total_month((Date.today << 1).strftime('%B'), :first_timers) %></span><p style="font-size: 2.5vmin"> Total First Timers  </p></li>
                            <li><i class="glyphicon glyphicon-home"></i>&nbsp;<span style="font-size: 4.5vmin; font-weight: Bold"><%= ChurchGroup.total_month_cc((Date.today << 1).strftime('%B'), :nbs) %></span><p style="font-size: 2.5vmin"> Began New Believers School  </p></li>
                            <li><i class="glyphicon glyphicon-education"></i>&nbsp;<span style="font-size: 4.5vmin; font-weight: Bold"><%= ChurchGroup.total_month_cc((Date.today << 1).strftime('%B'), :nbs_finish) %></span><p style="font-size: 2.5vmin"> Finished New Believers School  </p></li>
                             <li><i class="glyphicon glyphicon-briefcase"></i>&nbsp;<span style="font-size: 4.5vmin; font-weight: Bold"><%= ChurchGroup.total_month((Date.today << 1).strftime('%B'), :fnb) %></span><p style="font-size: 2.5vmin"> Total First and Best </p></li>
                    </ul>

                
                    <div class="pricing-footer">
  <%= link_to "Details", "#my-modal2", :class => "btn db-button-color-square btn-lg", "data-toggle" => "modal" %>
                       
                               <!-- Modal start -->               
                            <div class="modal fade bs-example-modal-lg" id="my-modal2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" id= 'pie_c'>
    <div class="modal-content" style="width:600px">
    
  <div class="container">

  <div class="col-xs-6" style="color:#000000; width: 100%; text-align: center">
    <%= pie_chart ChurchGroup.where('region = ? OR region = ?', "London Main", "Judea").make_hash_month_avg((Date.today << 1).strftime('%B'), :sunday_att), library: {chart: {width: 350}, legend: {layout: 'vertical', align: 'left', verticalAlign: 'bottom', itemStyle: {fontSize: "10px"}}, title: {text: "Average #{(Date.today << 1).strftime('%b-%y')} Sunday"}} %>
  </div>
  
    <div class="col-xs-6" id="pie_c">
    <%= pie_chart ChurchGroup.where('region = ? OR region = ?', "London Main", "Judea").make_hash_month_sum((Date.today << 1).strftime('%B'), :new_converts), library: {chart: {width: 350}, legend: {layout: 'vertical', align: 'right', verticalAlign: 'bottom', itemStyle: {fontSize: "10px"}}, title: {text: "Average #{(Date.today << 1).strftime('%b-%y')} New Converts"}}%>
  </div>
  
    <div class="col-xs-12" id="pie_c">
    <%= pie_chart ChurchGroup.where('region = ? OR region = ?', "London Main", "Judea").make_hash_month_sum((Date.today << 1).strftime('%B'), :first_timers), library: {chart: {width: 350}, legend: {layout: 'vertical', align: 'left', verticalAlign: 'bottom', itemStyle: {fontSize: "10px"}}, title: {text: "Average #{(Date.today << 1).strftime('%b-%y')} First Timers"}} %>
  </div>
  
      <div class="col-xs-12" id="pie_c">
    <%= pie_chart ChurchGroup.where('region = ? OR region = ?', "London", "Judea").make_hash_month_sum((Date.today << 1).strftime('%B'), :nbs), library: {chart: {width: 350}, legend: {layout: 'vertical', align: 'right', verticalAlign: 'bottom', itemStyle: {fontSize: "10px"}}, title: {text: "Average #{(Date.today << 1).strftime('%b-%y')} Started NBS"}}%>
  </div>
      <div class="col-xs-12" id="pie_c">
    <%= pie_chart ChurchGroup.where('region = ? OR region = ?', "London", "Judea").make_hash_month_sum((Date.today << 1).strftime('%B'), :nbs_finish), library: {chart: {width: 350}, legend: {layout: 'vertical', align: 'left', verticalAlign: 'bottom', itemStyle: {fontSize: "10px"}}, title: {text: "Average #{(Date.today << 1).strftime('%b-%y')} Finished NBS"}} %>
  </div>
      <div class="col-xs-12" id="pie_c">
    <%= pie_chart ChurchGroup.where('region = ? OR region = ?', "London Main", "Judea").make_hash_month_sum((Date.today << 1).strftime('%B'), :fnb), library: {chart: {width: 350}, legend: {layout: 'vertical', align: 'right', verticalAlign: 'bottom', itemStyle: {fontSize: "10px"}}, title: {text: "Average #{(Date.today << 1).strftime('%b-%y')} First & Best"}}%>
  </div>
   <div class="col-xs-6">
   <%= link_to "Exit", demo_path, class: "btn btn-primary btn-xs" %>
 </div>
</div>


  

    </div>
  </div>
</div>
<!-- Modal end -->
                    </div>
                </div>
                      </div>
            </div>
                  

            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" style="width: 25%">
                  <div class="db-wrapper">
                <div class="db-pricing-eleven db-bk-color-three">
                    <div class="price">
                       <%= ChurchGroup.total_month_avg((Date.today).strftime('%b'), :sunday_att) %>
                                <small>Total FLC UK Average Sunday Attendance For</small>
                    </div>
                    <div class="type">
                       <%= (Date.today).strftime('%b-%y')%>
                    </div>
                    <ul>

                          <li><i class="glyphicon glyphicon-tree-deciduous"></i>&nbsp;<span style="font-size: 4.5vmin; font-weight: Bold"><%= ChurchGroup.total_month((Date.today).strftime('%B'), :new_converts) %> </span><p style="font-size: 2.5vmin">Total New Converts </p></li>
                            <li><i class="glyphicon glyphicon-user"></i>&nbsp;<span style="font-size: 4.5vmin; font-weight: Bold"><%= ChurchGroup.total_month((Date.today).strftime('%B'), :first_timers) %></span> <p style="font-size: 2.5vmin">Total First Timers  </p></li>
                            <li><i class="glyphicon glyphicon-home"></i>&nbsp;<span style="font-size: 4.5vmin; font-weight: Bold"><%= ChurchGroup.total_month_cc((Date.today).strftime('%B'), :nbs) %></span><p style="font-size: 2.5vmin"> Began New Believers School  </p></li>
                            <li><i class="glyphicon glyphicon-education"></i>&nbsp;<span style="font-size: 4.5vmin; font-weight: Bold"><%= ChurchGroup.total_month_cc((Date.today).strftime('%B'), :nbs_finish) %></span><p style="font-size: 2.5vmin"> Finished New Believers School  </p></li>
                             <li><i class="glyphicon glyphicon-briefcase"></i>&nbsp;<span style="font-size: 4.5vmin; font-weight: Bold"><%= ChurchGroup.total_month((Date.today).strftime('%B'), :fnb) %></span> <p style="font-size: 2.5vmin">Total First and Best </p></li>
                    </ul>
                    <div class="pricing-footer">

                         <%= link_to "Details", "#my-modal3", :class => "btn db-button-color-square btn-lg", "data-toggle" => "modal" %>
                       
                               <!-- Modal start -->               
                            <div class="modal fade bs-example-modal-lg" id="my-modal3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" id= 'pie_c'>
    <div class="modal-content" style="width:600px">
    
<div class="container">

  <div class="col-xs-6" style="color:#000000; width: 100%; text-align: center">
    <%= pie_chart ChurchGroup.where('region = ? OR region = ?', "London Main", "Judea").make_hash_month_avg((Date.today).strftime('%B'), :sunday_att), library: {chart: {width: 350}, legend: {layout: 'vertical', align: 'left', verticalAlign: 'bottom', itemStyle: {fontSize: "10px"}}, title: {text: "Average #{(Date.today).strftime('%b-%y')} Sunday"}} %>
  </div>
  
    <div class="col-xs-6" id="pie_c">
    <%= pie_chart ChurchGroup.where('region = ? OR region = ?', "London Main", "Judea").make_hash_month_sum((Date.today).strftime('%B'), :new_converts), library: {chart: {width: 350}, legend: {layout: 'vertical', align: 'right', verticalAlign: 'bottom', itemStyle: {fontSize: "10px"}}, title: {text: "Average #{(Date.today).strftime('%b-%y')} New Converts"}}%>
  </div>
  
    <div class="col-xs-12" id="pie_c">
    <%= pie_chart ChurchGroup.where('region = ? OR region = ?', "London Main", "Judea").make_hash_month_sum((Date.today).strftime('%B'), :first_timers), library: {chart: {width: 350}, legend: {layout: 'vertical', align: 'left', verticalAlign: 'bottom', itemStyle: {fontSize: "10px"}}, title: {text: "Average #{(Date.today).strftime('%b-%y')} First Timers"}} %>
  </div>
  
      <div class="col-xs-12" id="pie_c">
    <%= pie_chart ChurchGroup.where('region = ? OR region = ?', "London", "Judea").make_hash_month_sum((Date.today).strftime('%B'), :nbs), library: {chart: {width: 350}, legend: {layout: 'vertical', align: 'right', verticalAlign: 'bottom', itemStyle: {fontSize: "10px"}}, title: {text: "Average #{(Date.today).strftime('%b-%y')} Started NBS"}}%>
  </div>
      <div class="col-xs-12" id="pie_c">
    <%= pie_chart ChurchGroup.where('region = ? OR region = ?', "London", "Judea").make_hash_month_sum((Date.today).strftime('%B'), :nbs_finish), library: {chart: {width: 350}, legend: {layout: 'vertical', align: 'left', verticalAlign: 'bottom', itemStyle: {fontSize: "10px"}}, title: {text: "Average #{(Date.today).strftime('%b-%y')} Finished NBS"}} %>
  </div>
      <div class="col-xs-12" id="pie_c">
    <%= pie_chart ChurchGroup.where('region = ? OR region = ?', "London Main", "Judea").make_hash_month_sum((Date.today).strftime('%B'), :fnb), library: {chart: {width: 350}, legend: {layout: 'vertical', align: 'right', verticalAlign: 'bottom', itemStyle: {fontSize: "10px"}}, title: {text: "Average #{(Date.today).strftime('%b-%y')} First & Best"}}%>
  </div>
   <div class="col-xs-6">
   <%= link_to "Exit", demo_path, class: "btn btn-primary btn-xs" %>
 </div>
</div>

  

    </div>
  </div>
</div>
<!-- Modal end -->
                    </div>
                </div>
                      </div>
            </div>

            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" style="width: 25%">
                  <div class="db-wrapper">
                <div class="db-pricing-eleven db-bk-color-six">
                    <div class="price">
                        <%= ChurchGroup.total_ytd_avg(:sunday_att) %>
                                <small>Total FLC UK Average Sunday Attendance For</small>
                    </div>
                    <div class="type">
                       <%= Date.today.strftime("%Y") %>
                    </div>
                    <ul>

                    
                          <li><i class="glyphicon glyphicon-tree-deciduous"></i>&nbsp;<span style="font-size: 4.5vmin; font-weight: Bold"><%= ChurchGroup.total_ytd(:new_converts) %></span> <p style="font-size: 2.5vmin">Total New Converts </p></li>
                            <li><i class="glyphicon glyphicon-user"></i>&nbsp;<span style="font-size: 4.5vmin; font-weight: Bold"><%= ChurchGroup.total_ytd(:first_timers) %> </span><p style="font-size: 2.5vmin">Total First Timers  </p></li>
                            <li><i class="glyphicon glyphicon-home"></i>&nbsp;<span style="font-size: 4.5vmin; font-weight: Bold"><%= ChurchGroup.total_ytd_cc(:nbs) %></span> <p style="font-size: 2.5vmin">Began New Believers School  </p></li>
                            <li><i class="glyphicon glyphicon-education"></i>&nbsp;<span style="font-size: 4.5vmin; font-weight: Bold"><%= ChurchGroup.total_ytd_cc(:nbs_finish)%></span><p style="font-size: 2.5vmin"> Finished New Believers School  </p></li>
                             <li><i class="glyphicon glyphicon-briefcase"></i>&nbsp;<span style="font-size: 4.5vmin; font-weight: Bold"><%= ChurchGroup.total_ytd_avg_pm(:fnb) %></span> <p style="font-size: 2.5vmin">Total First and Best per Month </p></li>
                    </ul>
                    <div class="pricing-footer">

                       <%= link_to "Details", "#my-modal4", :class => "btn db-button-color-square btn-lg", "data-toggle" => "modal" %>
                       
                               <!-- Modal start -->               
                            <div class="modal fade bs-example-modal-lg" id="my-modal4" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" id= 'pie_c'>
    <div class="modal-content" style="width:600px">
  
  <div class="container">

  <div class="col-xs-6" style="color:#000000; width: 100%; text-align: center">
    <%= pie_chart ChurchGroup.where('region = ? OR region = ?', "London Main", "Judea").make_hash_ytd_avg(:sunday_att), library: {chart: {width: 350}, legend: {layout: 'vertical', align: 'left', verticalAlign: 'bottom', itemStyle: {fontSize: "10px"}}, title: {text: "Average #{(Date.today).strftime('%Y')} Sunday"}} %>
  </div>
  
    <div class="col-xs-6" id="pie_c">
    <%= pie_chart ChurchGroup.where('region = ? OR region = ?', "London Main", "Judea").make_hash_ytd_sum(:new_converts), library: {chart: {width: 350}, legend: {layout: 'vertical', align: 'right', verticalAlign: 'bottom', itemStyle: {fontSize: "10px"}}, title: {text: "Average #{(Date.today).strftime('%Y')} New Converts"}}%>
  </div>
  
    <div class="col-xs-12" id="pie_c">
    <%= pie_chart ChurchGroup.where('region = ? OR region = ?', "London Main", "Judea").make_hash_ytd_sum(:first_timers), library: {chart: {width: 350}, legend: {layout: 'vertical', align: 'left', verticalAlign: 'bottom', itemStyle: {fontSize: "10px"}}, title: {text: "Average #{(Date.today).strftime('%Y')} First Timers"}} %>
  </div>
  
      <div class="col-xs-12" id="pie_c">
    <%= pie_chart ChurchGroup.where('region = ? OR region = ?', "London", "Judea").make_hash_ytd_sum(:nbs), library: {chart: {width: 350}, legend: {layout: 'vertical', align: 'right', verticalAlign: 'bottom', itemStyle: {fontSize: "10px"}}, title: {text: "Average #{(Date.today).strftime('%Y')} Started NBS"}}%>
  </div>
      <div class="col-xs-12" id="pie_c">
    <%= pie_chart ChurchGroup.where('region = ? OR region = ?', "London", "Judea").make_hash_ytd_sum(:nbs_finish), library: {chart: {width: 350}, legend: {layout: 'vertical', align: 'left', verticalAlign: 'bottom', itemStyle: {fontSize: "10px"}}, title: {text: "Average #{(Date.today).strftime('%Y')} Finished NBS"}} %>
  </div>
      <div class="col-xs-12" id="pie_c">
    <%= pie_chart ChurchGroup.where('region = ? OR region = ?', "London Main", "Judea").make_hash_ytd_avg_pm(:fnb), library: {chart: {width: 350}, legend: {layout: 'vertical', align: 'right', verticalAlign: 'bottom', itemStyle: {fontSize: "10px"}}, title: {text: "Average #{(Date.today).strftime('%Y')} First & Best"}}%>
  </div>
   <div class="col-xs-6">
   <%= link_to "Exit", demo_path, class: "btn btn-primary btn-xs" %>
 </div>
</div>

  

    </div>
  </div>
</div>
<!-- Modal end -->
                    </div>
                </div>
                      </div>
            </div>
        </div>

              <table class="table table-striped user-list">
 <thead>
                                <tr>
                                <th ><span class="list-group-item list-group-item-info" style="text-align: center"><i class="glyphicon glyphicon-signal"></i>&nbsp;&nbsp;LATEST SUNDAY DATA</span></th>
                             
                                </tr>
    </thead>
 </table>

        <div class="row db-padding-btm db-attached">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" style="width: 33%">
                <div class="db-wrapper">
                    <div class="db-pricing-eleven db-bk-color-one">
                        <div class="price">
                            <sup></sup><%= ChurchGroup.judea_latest(:sunday_att) %>
                                <small><%= User.first.date_of_last("Sunday").strftime('%d%b%y') %> Attendance</small>
                        </div>
                        <div class="type">
                            JUDEA
                        </div>
                        <ul>
      <li><i class="glyphicon glyphicon-tree-deciduous"></i>&nbsp;<span style="font-size: 4.5vmin; font-weight: Bold"><%= ChurchGroup.judea_latest(:new_converts) %></span> <p style="font-size: 2.5vmin">New Converts </p></li>
                            <li><i class="glyphicon glyphicon-user"></i>&nbsp;<span style="font-size: 4.5vmin; font-weight: Bold"><%= ChurchGroup.judea_latest(:first_timers) %> </span><p style="font-size: 2.5vmin">First Timers  </p></li>
                            <li><i class="glyphicon glyphicon-home"></i>&nbsp;<span style="font-size: 4.5vmin; font-weight: Bold"><%= ChurchGroup.judea_latest(:nbs) %></span> <p style="font-size: 2.5vmin">Began New Believers School  </p></li>
                            <li><i class="glyphicon glyphicon-education"></i>&nbsp;<span style="font-size: 4.5vmin; font-weight: Bold"><%= ChurchGroup.judea_latest(:nbs_finish)%></span><p style="font-size: 2.5vmin"> Finished New Believers School  </p></li>
                             <li><i class="glyphicon glyphicon-briefcase"></i>&nbsp;<span style="font-size: 4.5vmin; font-weight: Bold"><%= ChurchGroup.judea_latest(:fnb) %></span> <p style="font-size: 2.5vmin">First and Best </p></li>
                        </ul>
                        <div class="pricing-footer">

                             <%= link_to "Details", "#my-modal5", :class => "btn db-button-color-square btn-lg", "data-toggle" => "modal" %>
                        </div>
                        <!-- Modal start -->               
                            <div class="modal fade bs-example-modal-lg" id="my-modal5" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" id= 'pie_c'>
    <div class="modal-content" style="width:600px">
    
<div class="container">

  <div class="col-xs-6" style="color:#000000; width: 100%; text-align: center">
    <%= pie_chart ChurchGroup.where(region: "Judea").make_hash_latest(:sunday_att), library: {chart: {width: 350}, legend: {layout: 'vertical', align: 'left', verticalAlign: 'bottom', itemStyle: {fontSize: "10px"}}, title: {text: "Sunday Attendance By church Group"}} %>
  </div>
  
    <div class="col-xs-6" id="pie_c">
    <%= pie_chart ChurchGroup.where(region: "Judea").make_hash_latest(:new_converts), library: {chart: {width: 350}, legend: {layout: 'vertical', align: 'right', verticalAlign: 'bottom', itemStyle: {fontSize: "10px"}}, title: {text: "New Converts By Church Group"}}%>
  </div>
  
    <div class="col-xs-12" id="pie_c">
    <%= pie_chart ChurchGroup.where(region: "Judea").make_hash_latest(:first_timers), library: {chart: {width: 350}, legend: {layout: 'vertical', align: 'left', verticalAlign: 'bottom', itemStyle: {fontSize: "10px"}}, title: {text: "First Timers By Church Group"}} %>
  </div>
  
      <div class="col-xs-12" id="pie_c">
    <%= pie_chart ChurchGroup.where(region: "Judea").make_hash_latest(:nbs), library: {chart: {width: 350}, legend: {layout: 'vertical', align: 'right', verticalAlign: 'bottom', itemStyle: {fontSize: "10px"}}, title: {text: "Started NBS"}}%>
  </div>
      <div class="col-xs-12" id="pie_c">
    <%= pie_chart ChurchGroup.where(region: "Judea").make_hash_latest(:nbs_finish), library: {chart: {width: 350}, legend: {layout: 'vertical', align: 'left', verticalAlign: 'bottom', itemStyle: {fontSize: "10px"}}, title: {text: "Finished NBS"}} %>
  </div>
      <div class="col-xs-12" id="pie_c">
    <%= pie_chart ChurchGroup.where(region: "Judea").make_hash_latest(:fnb), library: {chart: {width: 350}, legend: {layout: 'vertical', align: 'right', verticalAlign: 'bottom', itemStyle: {fontSize: "10px"}}, title: {text: "First & Best"}}%>
  </div>
   <div class="col-xs-6">
   <%= link_to "Exit", demo_path, class: "btn btn-primary btn-xs" %>
 </div>
</div>

  

    </div>
  </div>
</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" style="width: 33%">
                 <div class="db-wrapper">
                <div class="db-pricing-eleven db-bk-color-two popular">
                    <div class="price">
                         <%= ChurchGroup.total_latest(:sunday_att) %>
                                <small><%= User.first.date_of_last("Sunday").strftime('%d%b%y') %> Attendance</small>
                    </div>
                    <div class="type">
                       FLC UK
                    </div>
                    <ul>

                           <li><i class="glyphicon glyphicon-tree-deciduous"></i>&nbsp;<span style="font-size: 4.5vmin; font-weight: Bold"><%= ChurchGroup.total_latest(:new_converts) %></span> <p style="font-size: 2.5vmin">New Converts </p></li>
                            <li><i class="glyphicon glyphicon-user"></i>&nbsp;<span style="font-size: 4.5vmin; font-weight: Bold"><%= ChurchGroup.total_latest(:first_timers) %> </span><p style="font-size: 2.5vmin">First Timers  </p></li>
                            <li><i class="glyphicon glyphicon-home"></i>&nbsp;<span style="font-size: 4.5vmin; font-weight: Bold"><%= ChurchGroup.total_latest_cc(:nbs) %></span> <p style="font-size: 2.5vmin">Began New Believers School  </p></li>
                            <li><i class="glyphicon glyphicon-education"></i>&nbsp;<span style="font-size: 4.5vmin; font-weight: Bold"><%= ChurchGroup.total_latest_cc(:nbs_finish)%></span><p style="font-size: 2.5vmin"> Finished New Believers School  </p></li>
                             <li><i class="glyphicon glyphicon-briefcase"></i>&nbsp;<span style="font-size: 4.5vmin; font-weight: Bold"><%= ChurchGroup.total_latest(:fnb) %></span> <p style="font-size: 2.5vmin">First and Best </p></li>
                    </ul>
                    <div class="pricing-footer">

                       <%= link_to "Details", "#my-modal6", :class => "btn db-button-color-square btn-lg", "data-toggle" => "modal" %>
                    </div>
    <div class="modal fade bs-example-modal-lg" id="my-modal6" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" id= 'pie_c'>
    <div class="modal-content" style="width:600px">

<div class="container">

  <div class="col-xs-6" style="color:#000000; width: 100%; text-align: center">
    <%= pie_chart ChurchGroup.where('region = ? OR region = ?', "London Main", "Judea").make_hash_latest(:sunday_att), library: {chart: {width: 350}, legend: {layout: 'vertical', align: 'left', verticalAlign: 'bottom', itemStyle: {fontSize: "10px"}}, title: {text: "Sunday Attendance By church Group"}} %>
  </div>
  
    <div class="col-xs-6" id="pie_c">
    <%= pie_chart ChurchGroup.where('region = ? OR region = ?', "London Main", "Judea").make_hash_latest(:new_converts), library: {chart: {width: 350}, legend: {layout: 'vertical', align: 'right', verticalAlign: 'bottom', itemStyle: {fontSize: "10px"}}, title: {text: "New Converts By Church Group"}}%>
  </div>
  
    <div class="col-xs-12" id="pie_c">
    <%= pie_chart ChurchGroup.where('region = ? OR region = ?', "London Main", "Judea").make_hash_latest(:first_timers), library: {chart: {width: 350}, legend: {layout: 'vertical', align: 'left', verticalAlign: 'bottom', itemStyle: {fontSize: "10px"}}, title: {text: "First Timers By Church Group"}} %>
  </div>
  
      <div class="col-xs-12" id="pie_c">
    <%= pie_chart ChurchGroup.where('region = ? OR region = ?', "London", "Judea").make_hash_latest(:nbs), library: {chart: {width: 350}, legend: {layout: 'vertical', align: 'right', verticalAlign: 'bottom', itemStyle: {fontSize: "10px"}}, title: {text: "Started NBS"}}%>
  </div>
      <div class="col-xs-12" id="pie_c">
    <%= pie_chart ChurchGroup.where('region = ? OR region = ?', "London", "Judea").make_hash_latest(:nbs_finish), library: {chart: {width: 350}, legend: {layout: 'vertical', align: 'left', verticalAlign: 'bottom', itemStyle: {fontSize: "10px"}}, title: {text: "Finished NBS"}} %>
  </div>
      <div class="col-xs-12" id="pie_c">
    <%= pie_chart ChurchGroup.where('region = ? OR region = ?', "London Main", "Judea").make_hash_latest(:fnb), library: {chart: {width: 350}, legend: {layout: 'vertical', align: 'right', verticalAlign: 'bottom', itemStyle: {fontSize: "10px"}}, title: {text: "First & Best"}}%>
  </div>
   <div class="col-xs-6">
   <%= link_to "Exit", demo_path, class: "btn btn-primary btn-xs" %>
 </div>
</div>


    </div>
    </div>
    </div>

                  </div>
                </div>
              </div>



            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" style="width: 33%">
                 <div class="db-wrapper">
                <div class="db-pricing-eleven db-bk-color-three">
                    <div class="price">
                        <sup> </sup><%= User.find_by(id: 33).latest(:sunday_att) %>
                                <small><%= User.first.date_of_last("Sunday").strftime('%d-%b-%y') %> Attendance</small>
                    </div>
                    <div class="type">
                        London
                    </div>
                    <ul>

                       <li><i class="glyphicon glyphicon-tree-deciduous"></i>&nbsp;<span style="font-size: 4.5vmin; font-weight: Bold"><%= User.find_by(id: 33).latest(:new_converts) %></span> <p style="font-size: 2.5vmin">New Converts </p></li>
                            <li><i class="glyphicon glyphicon-user"></i>&nbsp;<span style="font-size: 4.5vmin; font-weight: Bold"><%= User.find_by(id: 33).latest(:first_timers) %> </span><p style="font-size: 2.5vmin">First Timers  </p></li>
                            <li><i class="glyphicon glyphicon-home"></i>&nbsp;<span style="font-size: 4.5vmin; font-weight: Bold"><%= ChurchGroup.total_latest_ldn(:nbs) %></span> <p style="font-size: 2.5vmin">Began New Believers School  </p></li>
                            <li><i class="glyphicon glyphicon-education"></i>&nbsp;<span style="font-size: 4.5vmin; font-weight: Bold"><%= ChurchGroup.total_latest_ldn(:nbs_finish)%></span><p style="font-size: 2.5vmin"> Finished New Believers School  </p></li>
                             <li><i class="glyphicon glyphicon-briefcase"></i>&nbsp;<span style="font-size: 4.5vmin; font-weight: Bold"><%= User.find_by(id: 33).latest(:fnb) %></span> <p style="font-size: 2.5vmin">First and Best </p></li>
                    </ul>
                    <div class="pricing-footer">

                          <%= link_to "Details", "#my-modal7", :class => "btn db-button-color-square btn-lg", "data-toggle" => "modal" %>
                    </div>

                      <div class="modal fade bs-example-modal-lg" id="my-modal7" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" id= 'pie_c'>
    <div class="modal-content" style="width:600px">

<div class="container">

  <div class="col-xs-6" style="color:#000000; width: 100%; text-align: center">
    <%= pie_chart @ldn_hash, library: {chart: {width: 350}, legend: {layout: 'vertical', align: 'left', verticalAlign: 'bottom', itemStyle: {fontSize: "10px"}}, title: {text: "Sunday Attendance By church Group"}} %>
  </div>
  
    <div class="col-xs-6" id="pie_c">
    <%= pie_chart ChurchGroup.where(region: "London").make_hash_latest(:new_converts), library: {chart: {width: 350}, legend: {layout: 'vertical', align: 'right', verticalAlign: 'bottom', itemStyle: {fontSize: "10px"}}, title: {text: "New Converts By Church Group"}}%>
  </div>
  
    <div class="col-xs-12" id="pie_c">
    <%= pie_chart ChurchGroup.where(region: "London").make_hash_latest(:first_timers), library: {chart: {width: 350}, legend: {layout: 'vertical', align: 'left', verticalAlign: 'bottom', itemStyle: {fontSize: "10px"}}, title: {text: "First Timers By Church Group"}} %>
  </div>
  
      <div class="col-xs-12" id="pie_c">
    <%= pie_chart ChurchGroup.where(region: "London").make_hash_latest(:nbs), library: {chart: {width: 350}, legend: {layout: 'vertical', align: 'right', verticalAlign: 'bottom', itemStyle: {fontSize: "10px"}}, title: {text: "Started NBS"}}%>
  </div>
      <div class="col-xs-12" id="pie_c">
    <%= pie_chart ChurchGroup.where(region: "London").make_hash_latest(:nbs_finish), library: {chart: {width: 350}, legend: {layout: 'vertical', align: 'left', verticalAlign: 'bottom', itemStyle: {fontSize: "10px"}}, title: {text: "Finished NBS"}} %>
  </div>
      <div class="col-xs-12" id="pie_c">
    <%= pie_chart ChurchGroup.where(region: "London").make_hash_latest(:fnb), library: {chart: {width: 350}, legend: {layout: 'vertical', align: 'right', verticalAlign: 'bottom', itemStyle: {fontSize: "10px"}}, title: {text: "First & Best"}}%>
  </div>
   <div class="col-xs-6">
   <%= link_to "Exit", demo_path, class: "btn btn-primary btn-xs" %>
 </div>
</div>


    </div>
    </div>
    </div>
                </div>
                     </div>
            </div>

        </div>

    </div>
    </div>


 

</div>

</div>
<!-- Charts
<div class="row">
  <div class="col-xs-12">
    <%= column_chart @array.except("London Main"), library: {backgroundColor: "#F0F0F0", width: "100%"} %>
  </div>
    <div class="col-xs-6">
    <%= pie_chart @ldn_hash, library: {backgroundColor: "#F0F0F0"} %>
  </div>
   
</div>
-->
 

 

<% end %>



                            






