<% provide(:title, 'Home') %>
<% if current_user && !current_user.admin %>
  <div class="jumbotron" style="text-align: center">
    <p>Welcome <%= current_user.elder.split[0] %>! </p>
    <p>All data should now have been submitted for <b><%= date_of_last("Sunday").strftime('%d-%b-%y') %></b></p>
    <% if current_user.is_leader %>
      <p><%= link_to "View Data", church_group_path(@current_user.church_group), class: "btn btn-primary btn-xs" %></p>  
    <% else %>
      <p><%= link_to "View Data", records_path, class: "btn btn-primary btn-xs" %></p> 
    <% end %>
  </div>
<% elsif current_user && current_user.admin %>
  <div class="container">
    <ul class="section_nav_group">
      <li class="section_nav_item"><%= link_to "Summary", "#", class: "section_nav", style: "" %></li>
      <li class="section_nav_item"><%= link_to "Latest Data", "#", class: "section_nav", style: "" %></li>
      <li class="section_nav_item"><%= link_to "Retention", retention_path, class: "section_nav", style: "" %></li>
      <li class="section_nav_item"><%= link_to "Visitation", visi_record_path, class: "section_nav", style: "" %></li>
    </ul>
    <div class="row db-padding-btm db-attached">
      <% @total_hash.each_with_index do |(month, totals), index| %>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" style="width: 25%">
          <div class="db-wrapper">
            <div class="db-pricing-eleven db-bk-color-<%= index + 1 %>">
              <div class="price">
                <%= (totals[:sunday_att] / totals[:n]).round(0) %>
                <small>Total FLC UK Average Sunday Attendance For</small>
              </div>
              <div class="type">
                <%= month %>
              </div>
              <ul>
  							<li>
                  <i class="glyphicon glyphicon-tree-deciduous"></i>&nbsp;
                  <span style="font-size: 4.5vmin; font-weight: Bold">
                    <%= totals[:new_converts] %>
                  </span>
                  <p style="font-size: 2.5vmin"> Total New Converts </p>
                </li>
                <li>
                  <i class="glyphicon glyphicon-user"></i>&nbsp;
                  <span style="font-size: 4.5vmin; font-weight: Bold">
                     <%= totals[:first_timers] %>
                  </span>
                  <p style="font-size: 2.5vmin"> Total First Timers  </p>
                </li>
                <li>
                  <i class="glyphicon glyphicon-home"></i>&nbsp;
                  <span style="font-size: 4.5vmin; font-weight: Bold">
                     <%= totals[:nbs] %>
                  </span>
                  <p style="font-size: 2.5vmin"> Began New Believers School</p>
                </li>
                <li>
                  <i class="glyphicon glyphicon-education"></i>&nbsp;
                  <span style="font-size: 4.5vmin; font-weight: Bold">
                     <%= totals[:nbs_finish] %>
                  </span>
                  <p style="font-size: 2.5vmin"> Finished New Believers School</p>
                </li>
                <li>
                  <i class="glyphicon glyphicon-briefcase"></i>&nbsp;
                  <span style="font-size: 4.5vmin; font-weight: Bold">
                    <%= totals[:fnb] %>
                  </span>
                  <p style="font-size: 2.5vmin"> Total First and Best </p>
                </li>
              </ul>
              <div class="pricing-footer">
                <%= link_to "Details", "#my-modal", :class => "btn db-button-color-square btn-lg", style: "font-size:2vmin", "data-toggle" => "modal" %>       
              </div>
            </div>
          </div>
        </div>
      <% end %> 
    </div>
    <div class="row db-padding-btm db-attached">
      <% @latest_hash.each_with_index do |(label, totals), index| %>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" style="width: 33%">
          <div class="db-wrapper">
            <div class="db-pricing-eleven db-bk-color-<%= index + 1 %>">
              <div class="price">
                <%= totals[:sunday_att] %>
                  <small>
                    <%= date_of_last("Sunday").strftime('%d%b%y') %> Attendance
                  </small>
              </div>
              <div class="type">
                <%= label %>
              </div>
              <ul>
                <li>
                  <i class="glyphicon glyphicon-tree-deciduous"></i>&nbsp;
                  <span style="font-size: 4.5vmin; font-weight: Bold"><%= totals[:new_converts] %>
                  </span> 
                  <p style="font-size: 2.5vmin">New Converts </p>
                </li>
                <li>
                  <i class="glyphicon glyphicon-user"></i>&nbsp;
                  <span style="font-size: 4.5vmin; font-weight: Bold">
                    <%= totals[:first_timers] %>
                  </span>
                  <p style="font-size: 2.5vmin">First Timers
                  </p>
                </li>
                <li>
                  <i class="glyphicon glyphicon-home"></i>&nbsp;
                  <span style="font-size: 4.5vmin; font-weight: Bold">
                    <%= totals[:nbs] %>
                  </span>
                  <p style="font-size: 2.5vmin">Began New Believers School
                  </p>
                </li>
                <li>
                  <i class="glyphicon glyphicon-education"></i>&nbsp;
                  <span style="font-size: 4.5vmin; font-weight: Bold">
                    <%= totals[:nbs_finish] %>
                  </span>
                  <p style="font-size: 2.5vmin"> Finished New Believers School
                  </p>
                </li>
                <li>
                  <i class="glyphicon glyphicon-briefcase"></i>&nbsp;
                  <span style="font-size: 4.5vmin; font-weight: Bold"><%= totals[:fnb] %>
                  </span>
                  <p style="font-size: 2.5vmin">First and Best
                  </p>
                </li>
              </ul>
              <div class="pricing-footer">
                <%= link_to "Details", "#my-modal5", :class => "btn db-button-color-square btn-lg", "data-toggle" => "modal" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>