<% provide(:title, 'Home') %>
<% if current_user && !current_user.admin %>
  <div class="jumbotron" style="text-align: center">
    <p>Welcome <%= current_user.name.split[0] %>! </p>
    <p>All data should now have been submitted for <b><%= date_of_last("Sunday").strftime('%d-%b-%y') %></b></p>
    <% if current_user.is_leader? %>
      <% @current_user.church_groups.each do |group| %>
        <p><%= link_to "View #{group.name}", church_group_path(group), class: "btn btn-primary btn-xs" %></p>  
      <% end %>
      <% if current_user.churches.count > 0 %>
        <p><%= link_to "View Campus Church Data", records_path, class: "btn btn-primary btn-xs" %></p> 
       <% end %>
    <% else %>
      <p><%= link_to "View Data", records_path, class: "btn btn-primary btn-xs" %></p> 
    <% end %>
  </div>
<% elsif current_user && current_user.admin %>
  <div ng-app='DashBoard' class="container dashboard">
    <div class="dashboard_heading">
      <h2> Summary </h2>
      <div>
        <span>
          <%= fa_icon "calendar-check-o" %>
          <%= Date.today.strftime("%d %b %Y") %>
        </span>
      </div>
    </div>
    <div ng-controller='CardListCtrl'>
      <ul class="nav nav-tabs">
        <li role="presentation" ng-class="{active: currentActive == 'cards'}" ng-click="currentActive = 'cards'"><a href="#">Summary</a></li>
        <li role="presentation" ng-class="{active: currentActive == 'search'}" ng-click="currentActive = 'search'"><a href="#">Search</a></li>
        <li role="presentation" ng-class="{active: currentActive == 'charts'}" ng-click="currentActive = 'charts'; showModal()"><a href="#">Compare</a></li>
        <li role="presentation" ng-class="{active: currentActive == 'trends'}" ng-click="currentActive = 'trends'"><a href="#">Trends</a></li>
      </ul>
      <div ng-show="currentActive == 'cards'" id='summary_page'>
        <%= render 'summary_page' %>
      </div>
      <div ng-show="currentActive == 'search'" id='overview_page'>
        <%= render 'search_page' %>
      </div>
      <div ng-show="currentActive == 'charts'" id='charts_page'>
        <%= render 'charts_page' %>
      </div>
    </div>
  </div>
<% end %>