

<h1 style="padding-left: 0px"><span class="label label-default" style="padding-left:20px"><%= User.first.date_of_last("Sunday").strftime('%d-%b-%y') %></span></h1>

<p style="padding: 20px">
 Data Download:
  <%= link_to "To Excel", last_sunday_path(format: "csv") %> |
</p>


<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">

<div class="table-responsive">
<table class="table table-striped" style:"width:10%">
    <thead>
        <tr>
           
           
            <th><span><%= sortable "user_id", "Church      " %></span></th>
            
            <th><span><%= sortable "sunday_att      ", "Sunday" %></span></th>
            <th><span><%= sortable "weekday_att", "Weekday" %></span></th>               
            <th><span><%= sortable "first_timers", "First Timers" %></span></th>
            <th><span><%= sortable "new_converts", "New Converts" %></span></th>
            <th><span><%= sortable "fnb", "Tithe" %></span></th>
            <th ><span><%= sortable "nbs", "Start NBS" %></span></th>
            <th ><span><%= sortable "nbs_finish", "Finish NBS" %></span></th>
            <th ><span><%= sortable "message_sunday", "Sunday Message" %></span></th>
            <th> &nbsp; </th>
        </tr>
    </thead>

      <tbody>
        <% @records.each do |t| %>
        <tr>
            
          
            <td><span><%= link_to t.user.name, user_path(t.user) %></span></td>
            <td><span><%= t.sunday_att %></span></td>
            <td><span><%= t.weekday_att %></span></td>               
            <td><span><%= t.first_timers %></span></td>
            <td><span><%= t.new_converts %></span></td>
            <td><span><%= t.fnb %></span></td>
            <td ><span><%= t.nbs %></span></td>
            <td ><span><%= t.nbs_finish %></span></td>
          <td ><span><%= t.message_sunday %></span></td>
               <td>
                                  <%= link_to edit_record_path(t), class: "btn btn-default", remote: false do %>
<i class="fa fa-cog"></i>Edit</a>
<% end %> 
                                    </td>
        </tr>
        <% end %>
    </tbody>
    
</table>
</div>
<%= will_paginate @records, renderer: BootstrapPagination::Rails%>
                