<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= yield(:title) %> |Revelations</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<!--  <%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>  -->

  <%= csrf_meta_tags %>
</head>
<body>
<% if logged_in? && current_user.admin == true %>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to demo_path, class: "navbar-brand" do %>
      <span class="glyphicon glyphicon-signal"></span>&nbsp;<%= "Revelations" %>
      <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="">
          <%= link_to church_groups_path do %>
          <%= "Church Groups" %> <span class="sr-only">(current)</span>
          <% end %></li>
        <li class="">
          <%= link_to users_path do %>
          <%= "Campus Churches" %> <span class="sr-only">(current)</span>
          <% end %></li>
          
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Options <span class="caret"></span></a>
          <ul class="dropdown-menu">
              <li class="">
          <%= link_to show_nots_path do %>
          <%= "Show Outstanding Data" %> <span class="sr-only">(current)</span>
          <% end %></li>
          <li><a href="#">Visitation Report</a></li>
             <li class="">
          <%= link_to last_sunday_path do %>
          <%= "View/Download Latest Data" %> <span class="sr-only">(current)</span>
          <% end %></li>
              <li class="">
          <%= link_to records_path do %>
          <%= "View/Download All Data" %> <span class="sr-only">(current)</span>
          <% end %></li>
           <li role="separator" class="divider"></li>
             <li class="">
          <%= link_to new_record_path do %>
          <%= "Create new Data Record" %> <span class="sr-only">(current)</span>
          <% end %></li>
             <li class="">
          <%= link_to new_user_path do %>
          <%= "Create New Campus Church" %> <span class="sr-only">(current)</span>
          <% end %></li>
           <li class="">
             <%= link_to new_church_group_path do %>
          <%= "Create New Church Group" %> <span class="sr-only">(current)</span>
          <% end %></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Change Password</a></li>
            <li role="separator" class="divider"></li>
             <li class="">
             <%= link_to data_sheet_path do %>
          <%= "#{Date.today.strftime("%Y")} Excel Data Format" %> <span class="sr-only">(current)</span>
          <% end %></li>
          </ul>
        </li>
      </ul>
      
        
   <%= form_tag(users_path, method: 'get', class: 'navbar-form navbar-left') do %>
  <%= search_field_tag :search, params[:search], class: 'form-control', placeholder: 'Search By Campus or Elder'  %>
  <%= submit_tag "Submit", class: 'btn btn-default', :name => nil %>
<% end %>
      
      <ul class="nav navbar-nav navbar-right", style="font-size: 0.5px">
  
        <%= link_to logout_path, :method => 'delete', data: {confirm: "Are you sure you want to Logout?"}, class: "navbar-brand", remote: false do %>
        <span class="glyphicon glyphicon-log-out"></span>&nbsp;<%="Log Out" %>
       <% end %>
       </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>





<% elsif logged_in? && current_user.admin == false && current_user.is_leader == false %>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
       <%= link_to demo_path, class: "navbar-brand" do %>
      <span class="glyphicon glyphicon-signal"></span>&nbsp;<%= "REVELATIONS" %>
      <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to records_path do %>
          <%= "Records" %> <span class="sr-only">(current)</span>
          <% end %></li>
        </li>
            <li>
          <%= link_to new_record_path do %>
          <%= "New Record" %> <span class="sr-only">(current)</span>
          <% end %></li>
        </li>
   </ul>
     <ul class="nav navbar-nav navbar-right">
       
       <li>
        <%= link_to logout_path, :method => 'delete', data: {confirm: "Are you sure you want to Logout?"}, class: "navbar-brand", remote: false do %>
        <span class="glyphicon glyphicon-log-out"></span>&nbsp;<%="Log Out" %>
       <% end %>
       </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



<% elsif logged_in? && current_user.admin == false && current_user.is_leader == true %>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
       <%= link_to demo_path, class: "navbar-brand" do %>
      <span class="glyphicon glyphicon-signal"></span>&nbsp;<%= "REVELATIONS" %>
      <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
          <li>
          <%= link_to church_group_path(current_user.church_group) do %>
          <%= "View Data" %> <span class="sr-only">(current)</span>
          <% end %></li>
      
            <li>
          <%= link_to new_record_path do %>
          <%= "New Record" %> <span class="sr-only">(current)</span>
          <% end %></li>
        
   </ul>
     <ul class="nav navbar-nav navbar-right">
       
       <li>
        <%= link_to logout_path, :method => 'delete', data: {confirm: "Are you sure you want to Logout?"}, class: "navbar-brand", remote: false do %>
        <span class="glyphicon glyphicon-log-out"></span>&nbsp;<%="Log Out" %>
       <% end %>
       </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<% else %>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <%= link_to root_path, class: "navbar-brand" do %>
      <span class="glyphicon glyphicon-signal"></span>&nbsp;<%= "REVELATIONS" %>
      <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

     
     
      <ul class="nav navbar-nav navbar-right">
          <li><%= link_to login_path, class: "navbar-brand" do%>
         <span class="glyphicon glyphicon-log-in"></span>&nbsp;Login To Access System</li>
      <% end %>
       
      </ul>
     </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<% end %>

<% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
<%= yield %>



   
    
<!--<footer>
      <div class="container">
        <p class="text-muted"><span class="glyphicon glyphicon-flag"></span>&nbsp;<span><%= link_to "Email For Support", "mailto:firstlovechurchuk@gmail.com" %></span></p>
      </div>
    </footer> -->
                              
                
     


</body>

 

  
  
  



</html>
